@()(implicit requestHeader:RequestHeader,flash:Flash)
@import helper._

<!DOCTYPE html>
<html lang="en">
<head>
    <title>View Assignment</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="@routes.Assets.versioned(" stylesheets/signup.css")">
</head>
<body>

<div class="container">
    <table class="table text-center">
        <thead ><th class="text-center">Title</th>

        <th class="text-center">Description</th></thead>
        <tbody>
        <tr >


            <td >Title</td>

            <td>Description</td>

        </tr>
        <tr >


            <td >Title</td>

            <td>Description</td>

        </tr>
        <tr >


            <td >Title</td>

            <td>Description</td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
