<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<br><br><br>
<div class="container">
  <div class="row">
    <div class="col-md-3 " align="center">
      <div class="panel panel-default">
        <div class="panel-heading" style="background-color: darkblue"><strong>Category</strong></div>
        <div class="panel-body">
          <div *ngFor="let name of alldata | custompipe:'category'">

            <p>{{name.key}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6  panel panel-default" align="left">

      <div *ngFor="let name of alldata | custompipe:'category'">
        <div class="panel panel-default">
          <div class="panel-heading"><strong>{{name.key}}</strong></div>
          <div class="panel-body">
            <div *ngFor="let item of name.value">
              <span *ngIf="item.vegflag=='veg'"><i class="fa fa-square" style="font-size:10px;color:green;"></i></span>
              <span *ngIf="item.vegflag == 'nonveg'">
                <i class="fa fa-square" style="font-size:10px;color:red"></i></span> &nbsp;&nbsp;
              {{item.name}}
              <span class="glyphicon glyphicon-plus" style="margin: 5px" (click)="addItem(item.name,item.price,1)"></span>
              <span style="margin: 5px" class="glyphicon glyphicon-minus" (click)="subItem(item.name,item.price,1)"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading" style="background-color: darkblue"><strong>Cart</strong></div>
        <div class="panel-body">
          <div *ngFor="let name of cart">
            <span><strong>{{name.item}}</strong></span>&nbsp;
            <span><strong>{{name.price}}</strong></span>&nbsp;
            <span><strong>{{name.quantity}}</strong></span>
          </div>
        </div>
        <div class="panel-footer">Total Amount = {{totalamount}}</div>
      </div>
    </div>
  </div>
</div>
